/* OSWALD FONT */
@font-face{
    font-family: "Oswald";
    src: url('../fonts/Oswald/static/Oswald-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: "Oswald";
    src: url('../fonts/Oswald/static/Oswald-Light.ttf') format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: "Oswald";
    src: url('../fonts/Oswald/static/Oswald-SemiBold.ttf') format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face{
    font-family: "Oswald";
    src: url('../fonts/Oswald/static/Oswald-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}
/* LATO FONT */
@font-face{
    font-family: "Lato";
    src: url('../fonts/Lato/Lato-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: "Lato";
    src: url('../fonts/Lato/Lato-Light.ttf') format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: "Lato";
    src: url('../fonts/Lato/Lato-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: "Lato";
    src: url('../fonts/Lato/Lato-Italic.ttf') format("truetype");
    font-weight: 400;
    font-style: italic;
}

/* Top Nav Styling */
.main-menu-wrapper {
    width: 100%;
    text-align: center;
}

.main-menu {
    list-style-type: none;
    align-items: center;
}

.main-menu li {
    padding: 0px 30px;
    display: inline-block;
}

.main-menu-item:link,
.main-menu-item:visited  {
    font-family: "Oswald";
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    text-decoration: none;
    color: #008768;
    opacity: 0.8;
}

.main-menu-item:hover {
    color: #015c47;
    opacity: 1.0;
}
/* Index HTML Styling */
