.text-wrapper {
    margin: auto;
    width: 75vw;
}

p {
    text-align: center;
    font-family: "Lato";
    font-weight: 300;
    font-size: 20px;
}

.map-wrapper {
    margin: auto;
    width: 900px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.map-iframe{
    height: 600px;
    width: 900px;
}